{% extends 'base.html' %}
{% block title %}@sol作成課題 | 新規登録{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
{% endblock %}

{% block content %}

<body class="hold-transition register-page">
    <div class="register-box user-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1">@sol作成課題</a>
            </div>
            <div class="card-body">
                {% include 'message.html' %}
                <p class="login-box-msg">ユーザ情報をご入力のうえ<br>「登録」ボタンを押してください</p>

                <form id="register-form" method="post">
                    <div class="input-group mb-3">
                        <div class="box-title">ユーザ性</div>
                        <input type="text" name="first_name" class="form-control" placeholder="山田">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="box-title">ユーザ名</div>
                        <input type="text" name="last_name" class="form-control" placeholder="太郎">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="box-title">メールアドレス</div>
                        <input type="text" name="email" class="form-control" placeholder="yamada@example.com">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="box-title">パスワード</div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="password@123">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="regist-selectbox">
                        <label for="status">状態</label>
                        <select name="status">
                            <option value="enable" selected>有効</option>
                            <option value="disable">無効</option>
                        </select>
                    </div>
                    <div class="regist-checkbox mt-2">
                        <label for="deleted">削除</label>
                        <input type="checkbox" name="deleted" value='1'>
                    </div>
                    <div class="row register-btn-outer mt-2">
                        <div class="col-4 register-btn-outer">
                            <button type="submit" class="btn btn-primary btn-block">登録</button>
                        </div>
                    </div>
                </form>

                <p class="mb-0 mt-3">
                    <a href="{{ url_for('login.login') }}" class="text-center">ログイン画面に戻る</a>
                </p>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    {% endblock %}