{% extends 'base.html' %}
{% block title %}@sol作成課題 | ユーザ編集{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'menu.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>ユーザ編集</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{{ url_for('user.user_list') }}">Home</a></li>
                                <li class="breadcrumb-item active">ユーザ編集</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="register-box m-auto user-box">
                                        <div class="card card-outline card-primary">
                                            <div class="card-body register-card-body">
                                                {% include 'message.html' %}
                                                <p class="login-box-msg">ユーザ情報を編集のうえ<br>「更新」ボタンを押してください</p>

                                                <form id="edit-form"
                                                    action="{{ url_for('user.user_edit', user_id=user.id) }}"
                                                    method="post">
                                                    <div class="input-group mb-3">
                                                        <div class="box-title">ユーザID</div>
                                                        <div class="form-control" style="border: 0;">{{ user.id }}</div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="box-title">ユーザ性</div>
                                                        <input type="text" name="first_name" class="form-control"
                                                            maxlength="20" placeholder="山田"
                                                            value="{{ user.first_name }}">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <span class="fas fa-user"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="box-title">ユーザ名</div>
                                                        <input type="text" name="last_name" class="form-control"
                                                            maxlength="20" placeholder="太郎"
                                                            value="{{ user.last_name }}">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <span class="fas fa-user"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="box-title">メールアドレス</div>
                                                        <input type="text" name="email" class="form-control"
                                                            maxlength="255" placeholder="yamada@example.com"
                                                            value="{{ user.email }}" required>
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <span class="fas fa-envelope"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="box-title">パスワード</div>
                                                        <input id="password" type="password" name="password"
                                                            class="form-control" minlength="8" maxlength="30"
                                                            placeholder="password@123">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <span class="fas fa-lock"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="regist-selectbox">
                                                        <label for="status">状態</label>
                                                        <select name="status">
                                                            <option value="enable" {% if user.status=='enable' %}
                                                                selected {% endif %}>有効</option>
                                                            <option value="disable" {% if user.status=='disable' %}
                                                                selected {% endif %}>無効</option>
                                                        </select>
                                                    </div>
                                                    <div class="regist-checkbox mt-2">
                                                        <label for="deleted">削除</label>
                                                        <input type="checkbox" name="deleted" value='1'>
                                                    </div>
                                                    <div class="row register-btn-outer mt-2">
                                                        <div class="col-4 register-btn-outer">
                                                            <button type="submit"
                                                                class="btn btn-primary btn-block">更新</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <p class="mb-0 mt-3">
                                                    <a href="{{ url_for('user.user_detail', user_id=user.id) }}"
                                                        class="text-center">ユーザ詳細へ</a>
                                                </p>
                                            </div>
                                            <!-- /.form-box -->
                                        </div><!-- /.card -->
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {% include 'footer.html' %}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    {% endblock %}

    {% block page_js %}
    <script>
        $(document).ready(function () {
            $("#edit-form").submit(function (event) {
                var password = $("#password").val();
                if (password && !/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&_/\\])[A-Za-z\d@$!%*?&_/\\]+$/.test(password)) {
                    alert("パスワードには英数字と記号が少なくとも1つずつ含まれる必要があります");
                    event.preventDefault();
                }
            });
        });
    </script>
    {% endblock %}